**Q1.** What are the differences between operators and values in the following?

*

'hello'

-87.8

-

/

+

6

**Ans1:** 

* -- multiplication operater

'hello' -- string value

-87.8 -- float(numeric) value

- -- subtraction operater 

/ -- division operator

+ -- addition operater

6 -- integer value

**Q2.** What is the difference between string and variable?

spam

'spam'

**Ans2:**

Variable in something in which we can assign and using which we can call values.

Values are something which we store in variable.

spam -- this is variable

'spam' -- this is value(string)

**Q3.** Describe three different data forms.

**Ans3:**

**string** -- anything defined in quotes('')

**numeric** -- numbers (floting , int)

**boolean** -- True and False

**Q4.** What makes up an expression? What are the functions of all expressions?

**Ans4:** Expression is a combination of variables, operations and values that yields a result value.

If you can print it, or assign it to a variable, it’s an expression. If you can’t, it’s a statement.

Here are some examples of expressions:

2 + 2 
<br>
3 * 7
<br>
1 + 2 + 3 * (8 ** 9) - sqrt(4.0) 
<br>
min(2, 22) 
<br>
max(3, 94) 
<br>
round(81.5) 
<br>
"foo"
<br>
"bar"
<br>
"foo" + "bar"
<br>
None <br>
True <br>
False <br>
2 <br>
3 <br>
4.0

**Q5.** In this chapter, assignment statements such as spam = 10 were added. What's the
difference between a declaration and an expression?

**Ans5:** **Expression** is a combination of variables, operations and values that yields a result value.

If you can print it, or assign it to a variable, it’s an expression. If you can’t, it’s a statement.


**Declaration** is declearing a variable with data type.

**Q6.** After running the following code, what does the variable bacon contain?

bacon = 22

bacon + 1

**Ans6:**
There will be no change in value of bacon, it will cointain **22**

In [2]:
bacon = 22
bacon + 1
print(bacon)

22

**Q7.** What should the values of the following two terms be?

'spam' + 'spamspam'

'spam' * 3

**Ans7:**

In [3]:
'spam' + 'spamspam' # this is string concatination operation

'spamspamspam'

In [5]:
'spam' * 3 # this will just repeate the same string 3 times

'spamspamspam'

**Q8.** Why is it that **eggs** is a true variable name but **100** is not?

**Ans8:** 
Variable name cannot be only numeric or start with numeric value:

**eggs** is neither a numeric value nor its starting with numeric value so this as accepted as variable name

**100** is a numeric value, so it cannot be a variable name

**Q9.** Which of the following three functions may be used to convert a value to an integer, a
floating-point number, or a string?

In [17]:
a = '5'
int(a)  # to convert into integer
float(a) # to convert into floating point
str(5) # to convert tnto string 

print(' integer:', int(a), '\n' , 'floating-point:', float(a), '\n', 'string:',  str(5))

 integer: 5
 floating-point: 5.0
 string: 5

**Q10.** What is the error caused by this expression? What would you do about it?

'I have eaten ' + 99 + ' burritos.'

**Ans10:**

In [6]:
'I have eaten ' + 99 + ' burritos.'

TypeError: can only concatenate str (not "int") to str

We can write 99 as string

In [8]:
'I have eaten ' + str(99) + ' burritos.'

'I have eaten 99 burritos.'

or

In [10]:
'I have eaten ' + '99' + ' burritos.'

'I have eaten 99 burritos.'